.multiSelect {
    overflow: auto;
    padding-bottom: 10px;
}

.multiSelect ul {
  list-style: none;
}

.multiSelect .select {
    margin-right: 20px;
    float: left;
}

.multiSelect .text {
    clear: both;
    font-size: 11px;
}

.multiSelect label.checkbox {
    margin-bottom: 0;
}

.btn.mover {
    display: block;
    margin-top: 25px;
    vertical-align: top;
}

.btn.mover.left {
    padding: 6px 8px 6px 6px;
}

.btn.mover.left-all {
    margin-top: 5px;
    padding: 6px 7px;
}

.btn.mover.right {
    margin-top: 5px;
    padding: 6px 7px;
}

.btn.mover.right-all {
    margin-top: 5px;
    padding: 6px 7px;
}

.buttons.stacked .btn.mover {
    margin: 0 0 10px 0;
}

.btn.mover.left i, .btn.mover.right i {
    margin: 0;
}

/* --- */

.multiSelect input.search {
    border: 1px solid #e6e6e6;
    border-radius: 3px 3px 0 0;
    border-bottom: none transparent;
    width: 100%;
}

.multiSelect ul {
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 0 0 3px 3px;
    width: 100%;
    height: 350px;
    margin: 0;
}

.multiSelect .select.buttons {
    margin-top: 100px;
}

.multiSelect .btn.mover {
    width: 35px;
    background: #458ebf none;
    border: none transparent;
}

.multiSelect .btn.mover span {
    color: #d8e7f1;
}

.multiSelect .btn.mover.left-all .icon-chevron-left.second,
.multiSelect .btn.mover.right-all .icon-chevron-right.second {
    margin-left: -7px;
}