<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Angular-multi-select directive demo</title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
        rel="stylesheet" type="text/css">
    <link href='../angular-multi-select.css' rel="stylesheet" type="text/css">
    <link href='app.css' rel="stylesheet" type="text/css">

    <script type="text/javascript" src="http://code.angularjs.org/1.2.19/angular.min.js"></script>
    <script type="text/javascript" src="../angular-multi-select.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="myApp">
    <div ng-controller="MyCtrl">
      <form name="selectForm">
        <multi-select ng-model="user.roles" available="roles" selected-label="Current roles" 
            available-label="Available roles" display="r as r.roleName"
            title="r as r.roleDescription" config="selectConfig"></multi-select>
        <div class="input-error" ng-show="selectForm.numSelected.$error.min">
          Please select at least 
          <ng-pluralize count="selectConfig.requiredMin" 
              when="{'one': 'one role', 'other': '{} roles'}">.
        </div>
        <div>{{ user.username }}'s roles: </div>
        <ul class='detail'>
          <li ng-repeat="role in user.roles">{{ role.roleName }}</li>
        </ul>    
        <label for="reqMin">Required minimum number of roles:</label>
        <input type="number" id="reqMin" ng-model="selectConfig.requiredMin" min="1">
      </form>
    </div>
  </body>
</html>